.container {
  text-align: center;
}

.dropBoxes {
  background-color: white;
  border: 1px dashed black;
  margin-top: 35px;
  padding: 10px;
  cursor: pointer;
}

.dropBoxes:last-child {
  margin-bottom: 25px;
}

.btnManu {
  margin-left: 100px;
  margin-bottom: 20px;
}
