.wrap {
  background-color: mediumseagreen;
  border-radius: 3px;
  margin-right: 5px;
  margin-top: 20px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  width: 375px;
}

.title {
  text-align: center;
  width: 200px;
  margin: 0 auto 0 auto;
  border-radius: 3px;
  background-color: white;
  color: black;
  font-size: 20px;
  margin-top: -24px;
}
